* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header,
aside,
main,
footer {
  font-size: 32px;
  padding: 24px;
}

header,
footer {
  color: #eeeeee;
}

header {
  background-color: #222831;
}

aside {
  background-color: #76abae;
  flex: 3;
}

main {
  background-color: #eeeeee;
  flex: 7;
}

footer {
  background-color: #31363f;
}

section {
  display: flex;
}
