p.developer {
  color: red;
}

.devops {
  background-color: gray;
  color: lightblue;
}

.datanalyst {
  font-family: monospace;
  color: yellow;
}

.cybersecurity {
  font-size: 12px;
  color: brown;
}

#G7HJK78 {
}

#G7HJK78 {
  color: blue;
}

#G57DK49 {
  color: green;
}
