section#services {
  background-color: #153e52;
  padding: 128px 16px;
  div.heading {
    text-align: center;
    margin-bottom: 32px;
    p {
    }
    h2 {
    }
  }
  div.servicesHolder {
    display: flex;
    flex-direction: column;
    gap: 32px;

    div.service {
      border-radius: 6px;
      position: relative;
      img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      div.content {
        border: 1px solid #ccc;
        background-color: white;
        padding: 24px;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        h3 {
        }
        p.body {
        }
        ul {
          padding-left: 25px;
          list-style-type: square;
          li {
          }
          li::marker {
            color: #14bf98;
            font-size: 28px;
          }
        }
        p.price {
          text-align: center;
        }
        a {
          display: inline-block;
          padding: 6px 24px;
          background-color: #14bf98;
          color: white;
          border-radius: 4px;
          text-decoration: none;
          border: 2px solid #14bf98;

          position: absolute;
          left: 50%;
          bottom: 0;
          translate: -50% 50%;
        }
        a:hover {
          background-color: white;
          color: #14bf98;
        }
      }
    }
  }
}

section#gallery {
  padding: 128px 16px;
  div.heading {
    text-align: center;
    margin-bottom: 32px;
    h3 {
    }
  }
  div.photosHolder {
    display: grid;
    div.photo {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      img {
        transition-property: scale;
        transition-duration: 0.5s;
      }
      span {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);

        transition-property: opacity;
        transition-duration: 0.5s;
      }
    }
    div.photo:hover {
      img {
        scale: 110%;
      }
      span {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  section#gallery {
    padding: 128px 0px;
    div.photosHolder {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (min-width: 768px) {
  section#services {
    padding: 128px 0px;
    div.servicesHolder {
      flex-direction: row;
      gap: 16px;
    }
  }

  section#gallery {
    div.photosHolder {
      grid-template-columns: repeat(4, auto);
    }
  }
}
