ul#list1 {
  background-color: #213555;
  color: white;
  border-radius: 8px;
  padding: 8px 8px 8px 40px;
}

ul#list1 li {
  margin-top: 8px;
}

ul.lvl2 li {
  background-color: #627fa4;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

ul#list2 {
}
